<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clean Out-of-date urls</title>
</head>
<body>
    <form action="/clean" method="POST">
        <h2>clean all urls in database ?</h2>
        <input type="submit" value="submit">
    </form>
    <br>
    <p>OR</p>
    <br>
    <br>
    <form action="/clean" method="POST">
        <label for="numOfUrls">Enter no. of url's to look for:</label>
        <input type="number" name="numOfUrls" id="numOfUrls" min="1"/>
        <input type="submit" value="submit">
    </form>
</body>
</html>