<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
        <script type = "text/javascript" src="{{ url_for('static',filename='header.js') }}"></script>
    </head>
    <body>
        <div class="header" id="page-header"></div>
        <h1><center>Cyberminer</center></h1>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by keyword to see all the relevant links" name="searchbar" value="{{ keywords }}">
            <button type="submit"><i class="fa fa-search"></i></button>
            <label for="sortOrder">Choose sort order:</label>
            <select name="sortOrder" id="sortOrder">
                {% if sortOrder == 'MostFrequent' %}
                <option value="Alphabetical">Alphabetical</option>
                <option value="MostFrequent" selected>Most frequent</option>
                {% else %}
                <option value="Alphabetical" selected>Alphabetical</option>
                <option value="MostFrequent">Most frequent</option>
                {% endif %}
            </select>
            <label for="resultsPerPage">results/page:</label>
            <input type="number" name="resultsPerPage" value="10">
        </form>
        <hr>
        <p></p>
        <center>
        {% for item in data %}
            <a href="/visit?url={{item[1]}}">
                <!-- <h4 style="font-size:x-small;margin-bottom: 2px;text-decoration: none;">{{item[1]}}<h4> -->
                <p style="font-size: x-small; color: black;text-decoration: none;">{{item[1]}}<p>    
                <div style="height:100%;width:100%; margin-top: none;">
                    <p>{{item[0]}}</p>
                </div>
            </a>
            </br>
        {% endfor %}
        </center>
    </body>
</html>