<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/index.css">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <!-- Add Bootstrap stylesheets to get boxed look for Pagination and to activate "css_framework = bootstrap4" used in search.py file-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/javascript.util/0.12.12/javascript.util.min.js"></script>
        <script type = "text/javascript" src="{{ url_for('static',filename='header.js') }}"></script>
        <script type = "text/javascript" src="{{ url_for('static',filename='autofill.js') }}"></script>
    </head>
    <body>
        <div class="header" id="page-header"></div>
        <h1><center>Cyberminer</center></h1>
        <form class="example" method="post" action="" style="margin:auto;max-width:600px">
            <input type="text" placeholder="Search by keyword to see all the relevant links" name="searchbar" id="searchbar" value="{{ keywords }}">
            <button type="submit"><i class="fa fa-search"></i></button>
            <label for="sortOrder">Choose sort order:</label>
            <select name="sortOrder" id="sortOrder">
                {% if sortOrder == 'MostFrequent' %}
                <option value="Alphabetical">Alphabetical</option>
                <option value="MostFrequent" selected>Most frequent</option>
                {% else %}
                <option value="Alphabetical" selected>Alphabetical</option>
                <option value="MostFrequent">Most frequent</option>
                {% endif %}
            </select>
        </form>
        <hr>
        <p></p>
        <center>
            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Link</th>
                </tr>
                </thead>
                <tbody>
                {% for item in data %}
                <tr>
                <!--<td> <a href={{item[1]}}><div style="height:100%;width:100%">{{item[0]}}</div></a> </td>-->
                    <td>{{ loop.index + pagination.skip }}</td>
                    <td>{{ item[0] }}</td>
                    <td><a href={{item[1]}}><div style="height:100%;width:100%">{{item[1]}}</div></a></td>
                </br>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </center>
        <div class ="right">
           {{ pagination.info }}
           {{ pagination.links }}
        </div>
    </body>
</html>